.containerHome{background-image: url('../../image/0741fc264ff67205ddfa8bfc89d2d005.jpg');
    background-size:contain;
    background-position:inherit;
    height: 100vh;
    text-align:center;
    color: aliceblue;
    padding: 50px;}
    