.containerHome{background-image: url('../../image/6eb4d6be27da2664ff121a14aae9ad5b.jpg');
    background-size:contain;
    background-position:inherit;
    height: 100vh;
    text-align:center;
    color: aliceblue;
    padding: 50px;}
    