.containerHome{background-image: url('../../image/844d7c9e17c5abe5da771cdc3b487ec2.jpg');
    background-size:contain;
    background-position:inherit;
    height: 100vh;
    text-align:center;
    color: aliceblue;
    padding: 50px;}