.cards-container{
    
    width: 20px;
    display: flex;
    top: 10%;
    margin-left:35%;
    gap: 60px;
}
/*
 @media screen and (max-width: 900px){
    .cards-container{
         display:inline-block;
         margin-left: -45%


    }
   
  
  }; */