.cards-container{
    
   display: flex;
   gap: 10px;
   align-items: center;
}
/*
 @media screen and (max-width: 900px){
    .cards-container{
         display:inline-block;
         margin-left: -45%


    }
   
  
  }; */