
 @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
 .imageContain{
  background: url('../../image/4182488908c0aa4f6ebf107e790f2b63.jpg');
  background-size:contain;
  height: 900px;
z-index: 0; /* Añade un z-index aquí */
 }
    .Home{
    margin-left: 40%;
    align-items: center;
    font-family: 'Pacifico';
   

    }
     .container img{
    margin-top: 10%;
      border-radius: 100%;
      width: 350px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(245, 157, 210, 0.5);
      transition: transform 0.5s ease;
      margin-bottom: 10px;
      gap:20px;
      margin-left: -30px;
     }
     .container img:hover{
      
      cursor: pointer;
      box-shadow: 0 0 30px 70px #f99ad522; /* Propiedad box-shadow para el efecto de resplandor */
     }
   

     
     .container h3{
font-family: 'Pacifico';
      margin-left: -5%;
      color:    #ea137b;  
  transition: color 0.3s ease;
  transition: font-size 0.3s ease;
  font-size: 60px;
  margin-top: 5%;
     }
     .container h4{
      font-family: 'Pacifico';
    margin-left: -17%;
    margin-top: 7%; 
    margin-bottom: 7%;
    color: black; 
    } 

     h3:hover {
      color: #eb3b90; 
      cursor: pointer;
        
    }
    p{
      font-size: 15px;
      margin-top: 50px;
      color: black;
    }

   
      
      @media screen and (max-width: 700px){
        .Home{
          display:inline-block;


        }
        .container img{
          width: 200px;
          margin-left: -30%;
          border: 3px solid #ea137b;
       
        }
        .container h3{
          font-size: 35px;
          margin-left:-40%;
        }
        .container h4{
          font-size: 12px;
          margin-left:-75%;
        }
        .containerStyleIcon{
          margin-left: -30%
        }
      
      };
.containerStyleIcon {
  white-space: nowrap; /* Evita que los elementos se rompan en varias líneas */
}

.containerStyleIcon h3 {
  display: inline-block; /* Coloca los elementos uno al lado del otro */
  margin: 0; /* Elimina el margen predeterminado de los h3 */
  padding: 10px; /* Añade espacio alrededor de los h3 si lo deseas */
  transform: scale(1.1);
}
.colorprueba1{
  color:#73717425
}
   