
    .Home{
     
        display: flex; /* Utiliza un contenedor flexible para dividir la pantalla */

    }

    .Home img{
        border-radius: 100%;
        width: 200px;
       
    }
    .Home button{
        width: 10px;
        height: 10px;
    }
      .component2{
        flex: 4;
        margin: 10px; /* Espaciado entre los componentes */
        background-color: #e289e73f;
        padding: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Offset X, Offset Y, Blur Radius, Color */
        border-style: inset;
        border-radius: 10px;
      }
      .component1{
        margin-top: 100px;
        font-size: 5%;
  
      }
      @media screen and (max-width: 700px){
        .Home{
          display:inline-block;

        }
      }
    