
    @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

    .Home{
      
      font-family:'pacifico','lobster';
        display: flex; /* Utiliza un contenedor flexible para dividir la pantalla */
        width: 99%;
        height: 100%; /* Ancho del contenedor (ajusta según tus necesidades) */
        margin: 0 auto; /* Centra el contenedor horizontalmente en el centro de la página */
        padding: 20px; /* Espaciado interno dentro del contenedor (ajusta según tus necesidades) */
      color: aliceblue;
        backdrop-filter: blur(9px) saturate(90%);
        -webkit-backdrop-filter: blur(9px) saturate(90%);
        background-color: rgba(95, 192, 228, 0.332);
        border-radius: 12px;
        border: 1px solid rgba(21, 14, 21, 0.61);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   
    }

     .container img{
      border-radius: 100%;
      width: 350px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(245, 157, 210, 0.5);
      transition: transform 0.5s ease;
      margin-bottom: 20px;
     }
     img:hover{
      border: 2px solid #ea137b;
      cursor: pointer;
     }

     
     .container h3{
      color:    #eb3b90;  
  transition: color 0.3s ease;
  transition: font-size 0.3s ease;
  font-size: 60px;
  margin-top: 7%;
     }
     .container h4{
    margin-top: 7%; 
    margin-bottom: 7%;
    color: black; 
    } 

     h3:hover {
      color: #ea137b; 
      cursor: pointer;
        
    }
    p{
      font-size: 15px;
      margin-top: 50px;
      color: black;
    }

   
      
      @media screen and (max-width: 700px){
        .Home{
          display:inline-block;

        }
      }
      .lolo{
        color: #4eb0d1da;
      }
   