

.fp-watermark {
  display: none !important;
}
.fp-watermark > a {
  display: none !important;
}
body {
    font-family: arial, helvetica;
  }
  
  h3 {
    font-size: 5em;
    text-align: center;
    color:#ee4ca240;
    font-weight: 700;
  }
  
  .section{
    height: 100vh;
    background-color: rgba(223, 171, 238, 0.384);

    
    
  }
 
  .fp-section {
    text-align: center;
  }
   